<div class="container-fluid">
  <div class="row m-4 bg-light">
    <div class="aside-right col-md-6 p-3 bg-white">
      <p class="title text-center text-black">{{ "ResetPassword" | translate }}</p>

      <form action="#" method="post">
        <label for="floatingEmail" class="p-2">{{ "Email" | translate }}</label><br />
        <div class="form-floating">
          <input
            #passwordResetEmail
            required
            type="email"
            class="form-control"
            id="floatingEmail"
            placeholder='{{ "Email" | translate }}'
          />
        </div>
      </form>
      <button
        class="btn bg-success text-white w-100 mt-2"
        (click)="UserService.ForgotPassword(passwordResetEmail.value)"
      >
      {{ "ResetPassword" | translate }}
      </button>
    </div>
    <div class="aside-left col-md-6">
      <img src="assets/images/forget-pass.svg" alt="imagelogin" class="w-100" />
    </div>
  </div>
</div>
