<!-- <div class="container">
  <div class="row">
    <div class="xs-12 md-6 mx-auto">
      <div id="countUp">
        <div class="number" data-count="404">Error 404</div>
        <div class="text">الصفحة التي تحاول الوصول اليها غير موجودة</div>
        <div class="text"></div>
        <div class="text"></div>
        <button class="myBtn" routerLink="/home">الرئيسية</button>
      </div>
    </div>
  </div>
</div> -->

<div class="mb-5 mt-5 container">
  <div class="notfound">
    <div class="card mx-5" style="width: 100%">
      <div class="card-body text-center">
        <img
          src="https://cdn-icons-png.flaticon.com/512/755/755014.png"
          width="50px"
          height="50px"
          class="my-4"
        />
        <h5 class="card-title mb-4">{{ "404" | translate }}</h5>
      </div>
    </div>
  </div>

  <div class="d-flex container my-5 flex-wrap">
    <div class="card mx-3 my-3" style="width: 11rem">
      <div class="card-body text-center">
        <img
          src="https://cdn-icons-png.flaticon.com/512/3711/3711207.png"
          width="50px"
          height="50px"
          class="my-4"
        />
        <h6 class="card-title mb-4">{{ "HomePage" | translate }}</h6>
        <button class="myBtn ms-3" routerLink="/home">
          {{ "Explore" | translate }}
        </button>
      </div>
    </div>

    <div class="card mx-3 my-3" style="width: 11rem">
      <div class="card-body text-center">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVvIp-WQGXbW4peTrZCHXbPNjME_mH5OdffAeeilU4oj7ItdeiNpe4JPZ5VtT_H044qNc&usqp=CAU"
          width="50px"
          height="50px"
          class="my-4"
        />
        <h6 class="card-title mb-4">{{ "Projects" | translate }}</h6>
        <button class="myBtn ms-3" routerLink="/projects">
          {{ "Explore" | translate }}
        </button>
      </div>
    </div>

    <div class="card mx-3 my-3" style="width: 11rem">
      <div class="card-body text-center">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmbgi1MmqNJ5LAnTLqHSm26aHOYkXahW1Ivw&usqp=CAU"
          width="50px"
          height="50px"
          class="my-4"
        />
        <h6 class="card-title mb-4">{{ "Services" | translate }}</h6>
        <button class="myBtn ms-3 my-3" routerLink="/services">
          {{ "Explore" | translate }}
        </button>
      </div>
    </div>

    <div class="card mx-3 my-3" style="width: 11rem">
      <div class="card-body text-center">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb8h8CkVwJRjKF1bOVqwsmmVp0WXSmEar-H-u7w1_NOWqWx8MMOnx3mQxl_l6e7CmXN6E&usqp=CAU"
          width="50px"
          height="50px"
          class="my-4"
        />
        <h6 class="card-title mb-4">{{ "Portfolios" | translate }}</h6>
        <button class="myBtn ms-3" routerLink="/portfolios">
          {{ "Explore" | translate }}
        </button>
      </div>
    </div>

    <div class="card mx-3 my-3" style="width: 11rem">
      <div class="card-body text-center">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqQAXmGydXqFH9h0BEBOXbqhGRxm1i10DPZg&usqp=CAU"
          width="50px"
          height="50px"
          class="my-4"
        />
        <h6 class="card-title mb-4">{{ "Contests" | translate }}</h6>
        <button class="myBtn ms-3" routerLink="/contests">
          {{ "Explore" | translate }}
        </button>
      </div>
    </div>

    <!-- <div class="card mx-3 my-3" style="width: 11rem;">
    <div class="card-body text-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcwRTVw8pJ3s98ZDwAwl1oHw39poRYS6bDZw&usqp=CAU" width="50px" height="50px" class="my-4">
      <h6 class="card-title mb-4"> {{"Freelancers"|translate}}</h6>
      <button class="myBtn ms-3" routerLink="/freelancers">
        {{"Explore"|translate}}

      </button>
      
    </div>
  </div> -->
  </div>
</div>
