.myBtn {
  background-color: #f8f8f8;
  padding: 8px;
  width: 60%;
  color: black;
  border: 1px #707070 solid;
  transition-property: all;
  transition-duration: 0.5s;
  margin-bottom: 10px;
  font-size: smaller;
}
.myBtn:hover {
  background-color: #c2c2c2;
}
.container {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}
.notfound {
  width: 25%;
  margin-left: 35%;
  margin-right: 35%;
}
.card {
  width: 11rem;
}

@media only screen and (max-width: 1000px) {
  .notfound {
    width: 75% !important;
    margin: 0;
  }
  .card {
    margin-right: 13% !important;
  }
}
