<body class="">
  <section class="container my-3 mb-5">
    <div class="row">
      <div class="col-12 col-lg-3 d-lg-block d-none">
        <div class="pluse text-center py-3 mb-3 rounded-2">
          <a
            routerLink="/newportfolio"
            class="w-100 text-center text-white text-decoration-none"
          >
            {{ "addPortfolio" | translate }}
            <i class="far fa-plus-square mx-3"></i>
          </a>
        </div>

        <span class="fs-4 my-3">{{ "post" | translate }} </span>
        <iframe
          class="align-items-center"
          src="https://www.youtube.com/embed/k1kTyICn6Ew"
          title="كيفية إضافة خدمة مصغرة جديدة على منصة كفيل ؟"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <p class="text-black-50 my-4">
          {{ "KafiilPlatformHelps" | translate }}
        </p>
        <h5><span class="fas fa-lightbulb"></span>{{ "Tips" | translate }}</h5>
        <ul class="px-3 tips-content">
          <li>{{ "Tips1" | translate }}</li>
          <li>
            {{ "Tips2" | translate }}
          </li>
          <li>
            {{ "Tips3" | translate }}
          </li>
          <li>{{ "Tips4" | translate }}</li>
          <li>
            {{ "Tips5" | translate }}
          </li>
          <li>
            {{ "Tips6" | translate }}
          </li>
        </ul>
        <div class="col-12 px-0 mb-4">
          <h5>
            <span class="fas fa-shield-alt" style="color: #1dbf73"> </span>
            {{ "KafiilGuarantees" | translate }}
          </h5>
          <div class="col-12 px-0 tips-content">
            {{ "KafiilPlatform" | translate }}
          </div>
        </div>

        <!-- <div class="input-group mb-3">
          <span class="input-group-text" id="basic-search">
            <i class="fas fa-search"></i>
          </span>
          <input
            type="search"
            class="form-control py-2"
            placeholder=" {{ 'search' | translate }}"
            aria-label="search"
            aria-describedby="basic-search"
          />
        </div>

        <div class="accordion mb-3" id="accordionExample">
          <div class="accordion-item text-muted">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button text-muted fw-bold"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                {{ "Categories" | translate }}
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body p-0">
                <div class="right p-3">
                  <i class="fa-solid fa-suitcase"></i>
                  {{ "BusinessAndServices" | translate }}
                </div>
                <div class="right p-3">
                  <i class="fa-solid fa-code"></i>
                  {{ "Programming" | translate }}
                </div>
                <div class="right p-3">
                  <i class="fa-solid fa-paintbrush"></i>
                  {{ "Design" | translate }}
                </div>
                <div class="right p-3">
                  <i class="fa-solid fa-video"></i>
                  {{ "Video" | translate }}
                </div>
                <div class="right p-3">
                  <i class="fa-solid fa-microphone-lines"></i>
                  {{ "Audios" | translate }}
                </div>
                <div class="right p-3">
                  <i class="fa-solid fa-bullhorn"></i>
                  {{ "MarketingAndSales" | translate }}
                </div>
                <div class="right p-3">
                  <i class="fa-solid fa-pen-clip"></i>
                  {{ "Writing" | translate }}
                </div>
                <div class="right p-3">
                  <i class="fa-solid fa-chalkboard-user"></i>
                  {{ "Remote" | translate }}
                </div>
                <div class="right p-3">
                  <i class="fas fa-bars"></i>
                  {{ "OtherThings" | translate }}
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="mb-3">
          <a href="https://kafiil.com/youtube">
            <img
              src="https://kafiil.com/img/youtube-initiative/2.jpg"
              style="width: 100%"
            />
          </a>
        </div>
      </div>

      <div class="col-12 col-lg-9 p-3">
        <div class="d-lg-none d-flex justify-content-between">
          <div class="pluse text-center px-3 py-2 mb-3 rounded-2">
            <a class="w-100 text-center text-white text-decoration-none">
              <i class="far fa-plus-square mx-3"></i>
              {{ "addPortfolio" | translate }}
            </a>
          </div>
          <button
            class="canvasBtn"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <i class="fas fa-sliders-h"></i>
          </button>
        </div>

        <div class="filter bg-white rounded-2 mb-3 mb-2">
          <div class=" ">
            <h4>{{ "BusinessFair" | translate }}</h4>
          </div>
          <!-- <div class="dropdown type-radio">
            <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-sliders"></i> {{'TheBest'| translate}}
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" type="button"> {{'TheBest'| translate}}</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">{{'TheMostRecent'| translate}}</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  {{'MostWatched'| translate}}
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  {{'MostPreferred'| translate}}
                </button>
              </li>
            </ul>
          </div> -->
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
          <ng-container *ngFor="let port of portfolois; let i = index">
            <div (click)="goToDetails(port.id)" class="col">
              <div class="card h-100">
                <img [src]="port.img" class="card-img-top" alt="..." />

                <div class="card-body">
                  <h5 class="card-title">{{ port.protfoloiName }}</h5>
                </div>
                <div class="card-footer down">
                  <div class="owner">
                    <a class="img"><img [src]="port.ownerimg" alt="" /></a>
                    <div class="owner-info">
                      <a class="name">{{ port.name }}</a>
                      <p class="category">{{ port.category }}</p>
                    </div>
                  </div>
                  <div class="icons">
                    <span class="icon">
                      <i class="fas fa-eye p-1"></i>{{ port.watch }}
                    </span>
                    <span class="icon">
                      <i class="fas fa-heart p-1"></i>{{ port.like }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>

  <!-- offcanvas body -->
  <!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <button class="canvasTitle offcanvas-title" id="offcanvasRightLabel">
        '{{ "Show_results" | translate }}'
      </button>
      <button type="button" class="back fw-bold" data-bs-dismiss="offcanvas" aria-label="Close">
        '{{ "back" | translate }}'
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <div class="offcanvas-body">
      <div class="pluse text-center py-3 mb-3 rounded-2">
        <a  class="w-100 text-center text-white text-decoration-none">
          {{'addPortfolio'| translate}}
          <i class="far fa-plus-square mx-3"></i>
        </a>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-search">
          <i class="fas fa-search"></i>
        </span>
        <input type="search" class="form-control py-2" placeholder='{{ "search" | translate }}' aria-label="search"
          aria-describedby="basic-search" />
      </div>

      <div class="accordion mb-3" id="accordionExample" dir="rtl">
        <div class="accordion-item text-muted">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button text-muted fw-bold" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{'Categories'| translate}}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body p-0">
              <div class="right p-3">
                <i class="fa-solid fa-suitcase"></i>
                {{'BusinessAndServices'| translate}}
              </div>
              <div class="right p-3">
                <i class="fa-solid fa-code"></i>
                {{'Programming'| translate}}
              </div>
              <div class="right p-3">
                <i class="fa-solid fa-paintbrush"></i>
                {{'Design'| translate}}

              </div>
              <div class="right p-3">
                <i class="fa-solid fa-video"></i>
                {{'Video'| translate}}
              </div>
              <div class="right p-3">
                <i class="fa-solid fa-microphone-lines"></i>
                {{'Audios'| translate}}
              </div>
              <div class="right p-3">
                <i class="fa-solid fa-bullhorn"></i>
                {{'MarketingAndSales'| translate}}
              </div>
              <div class="right p-3">
                <i class="fa-solid fa-pen-clip"></i>
                {{'Writing'| translate}}
              </div>
              <div class="right p-3">
                <i class="fa-solid fa-chalkboard-user"></i>
                {{'Remote'| translate}}
              </div>
              <div class="right p-3">
                <i class="fas fa-bars"></i>
                {{'OtherThings'| translate}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <a href="https://kafiil.com/youtube">
          <img src="https://kafiil.com/img/youtube-initiative/2.jpg" style="width: 100%" />
        </a>
      </div>
    </div>
  </div> -->
</body>
<ngx-spinner
  bdColor="#1dcf73"
  size="medium"
  color="#fff"
  [fullScreen]="true"
  size="large"
  type="line-scale-pulse-out"
></ngx-spinner>
