* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.card-img-top {
  // width: 335px;
  height: 245px;
  object-fit: cover;
}
.card-footer img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.owner a {
  text-decoration: none;
  color: black !important;
}
.card-footer {
  background-color: white;
}

.cart {
  border-right: 1px solid rgba(86, 86, 86, 0.395);
}
.rate span {
  font-size: 0.7rem;
}
.badge {
  display: flex;

  align-items: center;
  background-color: #1dbf73;
}
.card {
  width: 18rem;
}
.card-text {
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
  .card {
    width: 25rem;
  }
}
