/* You can add global styles to this file, and also import other style files */
html {
  background-color: #f1f2f2;
  font-family: "Cairo", sans-serif;
}
* {
  font-family: "Cairo", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
