.row {
  --main: #1dbf73;
  background-color: #f1f2f2;
  color: #202020;
}

.subm {
  background-color: #1dbf73;
}
.P-form {
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 2px solid #f1f2f2;
}
.form-group {
  background-color: #ffffff;
}
